$soxaSize:14px;
$soxaSherifti:bold;
$pSize:20px;
body {
    background-color: rgb(169, 169, 170);
    .wrapper {
        width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        .menu {
            list-style-type: none;
            display: flex;
            .brend {
                margin: 10px 33% 0 -35px;
                font-size: 40px;
                font-weight: bold;
                font-family: sans-serif;
            }
            li a {
                padding: 0.75rem 1.2rem;
                margin-left: 1rem;
                margin-top: 1rem;
                display: inline-block;
                text-decoration: none;
                color: black;
                font-size: 18px;
                border: 1px solid black;
                border-radius: 10px;
            }
        }
        .block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .box {
                width: 360px;
                height: 410px;
                margin-top: 2rem;
                background-color: #ffffff;
                .rasm1 {
                    width: 100%;
                }
                .soxa {
                    padding: 0.75rem 0 0 2rem;
                    font: {
                        size: $soxaSize;
                        weight: $soxaSherifti;
                    }
                    span {
                        color: red;
                        font: {
                            size: $soxaSize;
                            weight: $soxaSherifti;
                        }
                    }
                }
                p {
                    font-size: $pSize;
                    padding: 0 0.5rem 0 2rem;
                    text-align: left;
                }
                .sana {
                    padding-left: 2rem;
                    padding-bottom: 0.5rem;
                    .rasm2 {
                        padding-left: 0.75rem;
                        margin-bottom: -5px;
                    }
                }
            }
        }
    }
}

a {
    &:hover {
        background-color: rgb(240, 65, 65);
        color: rgb(243, 245, 245)!important;
    }
    &:active {
        background-color: rgb(241, 19, 19);
        color: #ffffff!important;
    }
}