* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 200px auto;
}

.block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: aliceblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    width: 70px;
    height: 70px;
    z-index: 1;
}

img:nth-child(2) {
    display: none;
}

.box:hover img:nth-child(1) {
    display: none;
}

.box:hover img:nth-child(2) {
    display: block;
    transition: one 0.5s linear;
}

@keyframes one {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.back {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -200px;
    left: -200px;
    transition: all 0.5s linear;
    transform: rotate(45deg) scale(1.4);
}

.item {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.5s linear;
    transition-delay: 0.5s;
}

.box:hover .back {
    top: 40px;
    left: 40px;
}

.box:hover .back .item {
    top: -40px;
    left: -40px;
}

.wrapper>.block .box:nth-child(1) .back {
    background-color: rgb(61, 91, 153);
}

.wrapper>.block .box:nth-child(1) .item {
    background-color: rgb(61, 91, 153);
}

.wrapper>.block .box:nth-child(2) .back {
    background-color: rgb(53, 204, 255);
}

.wrapper>.block .box:nth-child(2) .item {
    background-color: rgb(53, 204, 255);
}

.wrapper>.block .box:nth-child(3) .back {
    background-color: rgb(220, 76, 53);
}

.wrapper>.block .box:nth-child(3) .item {
    background-color: rgb(220, 76, 53);
}

.wrapper>.block .box:nth-child(4) .back {
    background-color: rgb(242, 105, 154);
}

.wrapper>.block .box:nth-child(4) .item {
    background-color: rgb(242, 105, 154);
}

.wrapper>.block .box:nth-child(5) .back {
    background-color: rgb(2, 176, 240);
}

.wrapper>.block .box:nth-child(5) .item {
    background-color: rgb(2, 176, 240);
}

@media (min-width: 0) and (max-width: 446.9px) {
    .wrapper {
        width: 100%;
    }
    .box {
        width: 100%;
    }
}

@media (min-width: 447px) and (max-width: 768.9px) {
    .wrapper {
        width: 320px;
    }
    .box {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 899.9px) {
    .wrapper {
        width: 680px;
    }
    .box {
        width: 45%;
    }
}

@media (min-width: 990px) and (max-width: 1199.9px) {
    .wrapper {
        width: 940px;
    }
    .box {
        width: 30%;
    }
}

@media (min-width: 1200px) and (max-width: 1350px) {
    .wrapper {
        width: 1050px;
    }
    .box {
        width: 30%;
    }
}